@import "vars.scss";

* {
  box-sizing: border-box;
}

body {
    font-family: Avenir;
    margin: 0;
    min-height: calc(100vh - 100px);
}
p {
    box-shadow: -0.9px 0.1px 6.1px 0.2px #696666;
    border-radius: .1rem;
    padding: 10px;
    text-align: justify;
}
label {
  cursor: pointer;
}
p:empty {
    display: none;
}
body > .main {
  padding: 20px 40px 200px;
  top: $top-nav-height;
  position: relative;
}
.title {
  color: dodgerblue;
  margin-top: 0;
}
.title.main {
  background: white;
  margin-bottom: 25px;
  padding-bottom: 5px;
  position: sticky;
  top: $top-nav-height;
  z-index: 8;
  .icon {
    cursor: pointer;
    &:hover {
      color: $color2;
    }
  }
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table thead {
  background: $color3;
}
.table td, .table th {
  border: 1px solid;
  text-align: center;
  background: transparent;
  padding: 10px;
}
.table .cell.update, .table .cell.delete {
  cursor: pointer;
  transition: background .5s linear;
}
.table .cell.update:hover {
  background: $success;
}
.table .cell.delete:hover {
  background: $danger;
}
.table .cell.update:hover,
.table .cell.delete:hover {
  color: white;
  border-color: black;
}
.table .link {
  color: inherit;
}
.input.text {
  height: 32px;
  padding: 3px 0 3px 20px;
  margin: 0 0 10px 0;
  border-radius: .3rem;
  border: 2px solid $lightgrey;
}
.btn {
  cursor: pointer;
  border: 1px solid $lightgrey;
  border-radius: .4rem;
  padding: 10px;
}
.btn:hover {
  background: $color2;
  color: white;
}
.is-hidden {
  display: none;
}

#footer_main {
  align-items: center;
  background: $lightgrey;
  box-shadow: $shadow1;
  bottom: 0;
  color: white;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  left: 40px;
  padding: 0 20px;
  position: fixed;
  right: -40px;
  width: calc(100% - 80px);
}

#tp_node_connect_mysql {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px 20px;

  #title_main {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    padding-left: 20px;
  }

  #form_btns {
    padding: 0;
  }

  #form_user {
    max-width: 320px;
    display: flex;
    flex-direction: column;
  }

  #form_user input {
    margin-bottom: 10px;
    height: 32px;
    padding-left: 10px;
  }

  #list_user  {
    grid-row: 3;
    grid-column: 3 / 4;
    overflow-y: scroll;
    max-height: 35vh;
    list-style: none;
    padding-left: 10px;
  }

  #list_user .user {
    cursor: pointer;
  }

  #list_user .user:hover {
      color: $color2;
  }

  #list_user .icon {
    margin-left: 10px;
  }

  #todos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    max-width: 50vw;
    grid-gap: 13px;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }

  #todos .todo {
    border-bottom: 1px solid silver;
    padding-top: 7px;
    padding: 0 20px 20px;
  }

  .todo .title {
    margin-bottom: 10px;
  }

  #form_utils {
    display: grid;
    flex-direction: column;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    grid-template-rows: 35px 200px;
    grid-gap: 20px;
  }

  @media (max-width: 768px) {
    #todos {
      max-width: 100vw;
    }
  }
}
