$top-nav-height: 50px;
$icon-width: 60px;
$color0: #3399FF;
$color1: #003366;
$color2: #FF9966;
$color3: #FFCC99;
$success: #28a745;
$warning: #ffc107;
$danger: #dc3545;
$lightgrey: #c0c1c2;
$shadow1: -0.9px 0.1px 6.1px 0.2px #696666;
$shadow2: -0.9px 0.1px 6.1px 0.2px #696666;
